<div class="card-content">
  <header class="card-header">
    <%= image_tag comment.user.avatar.variant(resize: "50X50!") if comment.user.avatar.attached? %>
    <p class="card-header-title">
      <%= comment.user.username %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">  
      <%= simple_format(comment.content) %>
    </div>
  </div>
  <footer class="card-footer">
    <span class="icon is-small card-footer-item-left">
      <i class="fas fa-heart" aria-hidden="true"></i>
    </span>
  </footer>
</div>