<section class="container">
  <div class="columns">
    <div class="column is-2">
      <%= render 'shared/leftmenu' %>
    </div>
    <div class="column is-7">
      <%= render partial: 'shared/post' , collection: @posts%>
    </div>
  </div>
</section>