<aside class="menu">
  <p class="menu-label">
    群組
  </p>
  <ul class="menu-list">  
  <% @groups.each do |group| %>
    <%= link_to group_page_path(group.name), class: 'has-text-dark' do %>  
      <li><%= group.name %></li>
    <% end %>
  <% end %>
  </ul>
</aside>



