<div class="column">
  <h1 class="title">發文</h1>
</div>

<section class="container">
  <div class="columns">
    <div class="column is-6">
    <%= render 'form', post: @post %>
    </div>
  </div>
</section>